# .env Example

# Database URL for production environment
DATABASE_URL=postgresql://<username>:<password>@<host>:<port>/<database_name>

# Database URL for testing environment
DATABASE_URL_TEST=postgresql://<username>:<password>@<host>:<port>/<test_database_name>

# JWT Secret for encoding and decoding JWTs
JWT_SECRET=<your_jwt_secret>

# JWT Expiration time
JWT_EXPIRES_IN=1d

# Server port
PORT=3000

# HuggingFace API key for AI features
HF_API_KEY=<your_huggingface_api_key>
